{% extends "base.html" %}
{% block head_title %}Profile{% endblock head_title %}
{% block content %}
<div class="container">
    <h1>Profile</h1>
    <div class="card border-primary text-right mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{request.user.account.image.url}}" class="img-fluid rounded" alt="request.user.first_name">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title mb-1">Name: {{request.user.first_name}} {{request.user.last_name}}</h5>
                    <p class="card-text mb-1"><small class="fw-bold">Username: {{request.user.username}}</small></p>
                    <p class="card-text">Email: {{request.user.email}}</p>
                    <a href="{% url "transaction_report" %}" class="btn btn-sm btn-primary">Show Transaction Report</a>
                </div>
            </div>
        </div>
    </div>
    {% include "accounts/borrowed_books.html" %}
</div>
{% endblock %}