<footer class="site-footer bg-dark">
  <div class="container mt-3">
    <div class="row">
      <div class="col-sm-12 col-md-6 mt-4 text-white">
        <h6>About</h6>
        <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="col-6 col-md-3  mt-4 text-white">
        <h6>CATEGORIES</h6>
        <ul class="footer-links">
          <li>
            <a href="#" class="text-decoration-none">Romantic</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none">Science Fiction</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none">Thriller</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none">Programming</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none">Islamic</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none">History</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3  mt-4 text-white">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li>
            <a href="#" class="text-decoration-none">About us</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none">Contact Us</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none">Contribute</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none">Privacy Policy</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none">Sitemap</a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="small" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-12  text-white">
        <p class="copyright-text">Copyright © 2024 All Rights Reserved Ramisa Library</p>
      </div>
      <div class="col-md-4 col-sm-6 col-12 ">
        <ul class="social-icons d-flex list-unstyled mb-0 mx-3">
          <li class="mx-3">
            <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="mx-3">
            <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="mx-3">
            <a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a>
          </li>
          <li class="mx-3">
            <a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
