{% extends "base.html" %}
{% block head_title %}Home{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 mb-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Category
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="{% url 'home' %}">All</a></li>
                    <li><hr class="dropdown-divider"></li>
                    {% for category in categories %}
                    <li><a class="dropdown-item" href="{% url 'category_wise_book' category.slug %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
                {% for book in data %}
                <div class="col">
                    <div class="card text-center h-100">
                        <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text">{{ book.description|truncatechars:50 }}</p>
                            <p class="card-text fw-bold">Price: ${{ book.price }}</p>
                            <p class="card-subtitle mb-2 text-muted">
                                Category:
                                {% for category in book.categories.all %}
                                <button class="btn btn-sm btn-secondary rounded-pill m-1">{{ category }}</button>
                                {% endfor %}
                            </p>
                            <a href="{% url 'book_details' book.id %}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
