<div class="bg-dark sticky-top">
    <nav class="navbar navbar-dark navbar-expand-lg container">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Ramisa Library </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'deposit' %}">Deposit</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="d-flex gap-2">
                    {% if request.user.is_authenticated %}
                    <div class="text-primary my-auto px-2">Welcome, {{ request.user.first_name }} (Balance
                        : {{request.user.account.balance}}) </div>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="btn btn-outline-warning" href="{% url "profile" %}">Profile</a>
                        </li>
                    </ul>
                    <ul class="nav">
                        <li class="nav-item">
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger">Logout</button>
                            </form>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="btn btn-outline-success" href="{% url "signup" %}">SignUp</a>
                        </li>
                    </ul>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="btn btn-outline-warning" href="{% url "login" %}">Login</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</div>